 :root {
     /*colores*/
     --bitcoin-orange: #f7931a;
     --soft-orange: #ffe9d5;
     --secondary-blue: #1a9af7;
     --soft-blue:#e7f5ff;
     --warm-black: #201e1c;
     --back: #282623;
     --grey: #bababa;
     --of-white: #faf8f7;
     --just-white: #fff; 
 }

 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif; 
 }


 /*----------------------------------------------------------HEADER*/


header {
    background: linear-gradient(207.8deg, 
                              #201e1c 16.69%, 
                              #f7931a 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
}

header .header_figure {
    /* width: 150px;
    height: 24px; */
    margin-top: 55px ;
    align-self: center;
}

.header_figure span {
    margin-left: 8px;
}

.header-title_container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 25px;
    text-align: center;
    align-self: center;
}

.header-title_container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color:  var(--just-white);
}

.header-title_container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header-title_container .header_button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--of-white);
    /*sombra*/
    box-shadow: 0px 4px 8px rgba(89,73, 30, 0.16);
    border:none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--back);
}

.header_button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./icons/down-arrow.svg');
}


/*----------------------------------------------------------MAIN*/


main {
    width: 100%;
    height: auto;
    background-color: var(--of-white);
    /* background-color: black; */
}

/*-------SECTION 1----------*/

.section_container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.section_section_title {
     width: 90%;
     min-width: 288px;
     max-width: 900px;
     margin: 0 auto;
}

.section_container .backgroundimg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background: url('./img/Bitcoin.svg') center/cover no-repeat;
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.section_container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: var(--warm-black);
}

.section_container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
    padding: 6px;
}



.section_container--moneda {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.section_container-table .section_moneda {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.section_container-table .monedas_table {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.monedas_table table {
    width: 100%;
    height: 100%;
}

.monedas_table td {
    width: 50%;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.monedas_table .table__top-left {
    border-radius: 15px 0 0 0; 
}

.monedas_table .table__top-rigth {
    border-radius: 0 15px 0 0;
}

.monedas_table .table__botton-left {
    border-radius: 0 0 0 15px; 
}

.monedas_table .table__botton-rigth {
    border-radius: 0 0 15px 0;
} 

.monedas_table .centrar {
    padding-right: 20px;
}

.monedas_table .table__rigth {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.monedas_table .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background: url('./icons/trending-down\ 1.svg') center/cover;
}

.monedas_table .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background: url('./icons/trending-up\ 1.svg') center/cover;
}


.section_container-actualizado {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: var(--soft-orange);
    border-radius: 8px;

}

.section_container-actualizado p {
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--warm-black);
}


/*-------SECTION 2----------*/


.section__detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.section__detail--logo {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url("./img/logo2.svg");
}

.section__detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.section__detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.section__detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}


.section__card--container {
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--back);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .16);
}

.section__card--container img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    /* background-image: url('./icons/hour.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.section__card--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.section__card--body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}


/*-------SECTION 3----------*/


.section__img {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./img/bitcoinbaby\ 1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.section__img h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}


/*-------SECTION 4----------*/


.section__plans {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.section__plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
}

.section__plans--title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--back);
}

.section__plans--title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(#757575);
}

.section__plans--slider {
    display: flex;
    /* gap: 50px; */
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px 20px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, .16);
}

.plans--card .recomendado {
    position: absolute;
    width: 120px;
    height: 31px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    padding: 6px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
}

.plan--card-title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #000;
}

.plan--card-price {
    padding: 3px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: #000;
}

.plan--card-price span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}

.plan--card-saving {
    font-size: 1.2rem;
    color: #757575;
}

.plan--card-ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--back);
    font-family: "DM Sans", sans-serif;
}

.plan--card-ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./icons/arrow-right\ 1.svg');
    vertical-align: text-bottom;
}


/*---------------------------------------------------------FOOTER*/


footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.left li {
    margin: 8px auto;
}

.left a {
    text-decoration: none;
    color: var(--just-white);
}

footer .rigth {
    flex-direction: column;
    padding-left: 40px;
    
}

footer .rigth img {
    width: 50px;
    margin-bottom: 15px;
}

.rigth p {
    color: var(--just-white);
}